body {
  margin: 0;
  font-family: sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  margin: 0
}

hr {
  border: none;
  background-color: #0086c9;
  height: 5px;
  margin: 5px 0 50px;
}

/* Auth */
  .login {
    position: relative;
  }
  .main-content {
    display: grid;
    grid-template-columns: minmax(400px, 500px) 1fr;
    grid-template-rows: 100vh;
    grid-template-areas:
      "auth plate";
    position: relative;
    height: 100vh;
  }

  .auth, .plate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .auth {
    grid-area: auth;

    align-items: center;
    background: #fff;
    text-align: left;
    padding: 50px;

    overflow-y: auto;
  }

  .plate {
    grid-area: plate;

    padding: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #0086c9;
    background-image: url('../images/layer.svg');
    background-position: 85% 50%;
    background-size: 200%;
    background-repeat: no-repeat;
  }

  @media (max-width: 479px) {
    .main-content {
      height: 110vh;
      grid-template-rows: 250px 1fr;
      grid-template-areas:
        "plate"
        "auth";
    }
    .auth {
      padding: 20px;
      justify-content: flex-start;
    }
    .plate {
      padding: 20px;
      grid-template-columns: 1fr 36px;
      grid-row: auto;
    }
  }

/* transitions */
  .fade-enter-active, .fade-leave-active {
    transition: transform .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    transform: translateX(-100%);
  }

/* social media link */
  .social-media-list.container {
    z-index: 3;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    align-self: flex-end;
  }
  .social-media-list.ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .social-media-list.li {
    margin-bottom: 20px;
  }
  .social-media-list.li:last-child {
    margin-bottom: 0;
  }
  .social-media-link:link {
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    transition: transform 0.3s;
  }
  .social-media-link:visited {
    text-decoration: none;
    color: #fff;
    transition: transform 0.3s;
  }
  .social-media-link:hover {
    transform: translateY(-5px);
    transition: transform 0.3s;
  }
  .social-media-link:active {

  }

  @media (max-width: 479px) {
    .social-media-list.container  {
      padding: 0;
      align-items: center;
    }
    .social-media-link {
      font-size: 2em;
    }
  }

/* Links */
  .main-link {
    position: absolute;
    top: 0px;
    left: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;

    z-index: 1;

    color: #fff;
    font-weight: bold;
  }
  .main-link:hover {
    cursor: pointer;
  }
  .main-link:hover > .row-left {
    transform: translateX(-5px);
    transition-duration: 0.2s;
  }

  @media (max-width: 479px) {
    .main-link {
      z-index: 1;
    }
    .main-link span {
      display: none;
    }
  }

/* sprites */

/* Plate */
  .title {
    font-size: 4rem;
    color: #fff;
    text-align: left;
    align-self: center;
  }
  @media (max-width: 479px) {
    .title {
      width: auto;
      font-size: 2em;
    }
  }

/* Home */
.home {
  display: grid;
  grid-template-columns: 300px 1fr;
}
.home-content {
  background-color: #EFEFEF;
  padding: 30px;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: scroll;
}

.card {
  padding: 30px;
  margin-bottom: 10px;
  background: #fff;
}
.accept-container {
  background-color: #d6ffcf;
  border-left: 3px solid #426139;
}
.warning-container {
  background-color: #fff2cf;
  border-left: 3px solid #615d39;
}
.fatal-container {
  background-color: #ffcfcf;
  border-left: 3px solid #613939;
}

/* WARNING: wrapper must have ONE child */
.card_wrapper {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #EFEFEF;
}

.z {
  z-index: 5;
}

.zz {
  z-index: 10;
}

.shadow {
  box-shadow: 0 0 10px 0 #aeaeae;
}
